body {
    background-color: black;
}

h1 {
    color: white;
    font-size: 75px;
    font-family: Verdana;
}

h2 {
    color: white;
    font-size: 35px;
    font-family: Verdana;
}

.Header {
    text-align: center;
    padding-top: 40px;
}
